.logo_img {
    position: relative;
    width: 74px;
    top: -5px;
    border-radius: 50px;
}

.Offcanvas{
background-color: #c2121c;
// justify-content: center;
}

.btn_tele {
    border-radius: 21px;
    background-color: #0088cc;
    position: relative;
    // top: 23px;
    // left: 40%;
    height: 45px;
    width: 194px;
    color: white;
}

.btn_tele:hover {
    background-color: #2EA8DE;
}

.Homelink {
    left: 20px;
    position: relative;
    font-size: 26px;
    display: flex;
    justify-content: center;
    width: 80%;
    align-items: center;
    
}

.Nav {
    background-color: #c2121c;

    .btn_tele {
        border-radius: 21px;
        background-color: #0088cc;
        position: relative;
        top: 23px;
        height: 45px;
        width: 194px;
        color: white;
    }

    .btn_tele:hover {
        background-color: #2EA8DE;
    }
}

.Homelink {
    a {
        position: relative;
        margin: 20px;
        color: white;
        text-decoration: none;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.dropdownLink {
    div {
        background-color: #c2121c;
        div{
            margin: 10px;
            display: grid;

    justify-items: center;
            a{
                width: 230px;
            }
        }
    }
}

.braking_news {
    font-family: Segoe UI-MONOSPACE;
    text-align: center;
    background-color: #C2121C;
    color: white;
    width: 200px;
    -webkit-animation: braking_news .5s step-end infinite alternate;

    -webkit-animation: braking_news .5s step-end infinite alternate;
}

@-webkit-keyframes braking_news {
    50% {
        border-color: #ff0000;
    }
}

@keyframes floatText {
    to {
        transform: translateX(-100%);
    }
}

.scroll_container {
    font-size: 20px;
    color: #C2121C;
    overflow: hidden;
    width: 100%;
    font-family: 'Segoe UI';

    .scroll_text {
        font-size: medium;
        display: inline-block;
        white-space: nowrap;
        animation: floatText 50s infinite linear;
        padding-left: 100%;
        position: relative;
    }

    a {

        background-image: linear-gradient(to right,
                #eb7e7e,
                #C2121C 50%);
        background-size: 200% 100%;
        background-position: -100%;
        display: inline-block;
        padding: 5px 0;
        position: relative;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.3s ease-in-out;
    }

    a:before {
        content: '';
        background: #C2121C;
        display: block;
        position: absolute;
        bottom: 7px;
        left: 0;
        width: 0;
        height: 3px;
        transition: all 0.2s ease-in-out;
    }

    a:hover {
        background-position: 0;
    }

    a:hover::before {
        height: 2px;
        width: 100%;
    }

}

.Banner_img {

    color: white;
    height: 469px;
    width: 100%;

    h1 {
        font-size: 30px;
    }

    .col {
        margin-top: 20px;
    }

    .center {
        font-size: inherit;
        position: relative;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .top {
        position: relative;
        top: 150px;
    }

    .banner_field {
        text-align: center;
        font-size: -webkit-xxx-large;
        font: 40px;
        font-family: Segoe UI;
    }

    .banner_field span {
        font-size: 28px;
    }

    .banner_field a {
        text-decoration: none;
    }

}

.update_match {
    margin-top: 10px;
    position: relative;
    height: 320px;
    color: white;
}

.updatematch {
    // font-size: larger;
    font-family: 'Segoe UI';
    background-size: 100% 100%;
    /* filter: brightness(150%); */

    height: 300px;
    border-radius: 20px;
    background-repeat: no-repeat;

    // background-image: url("/matchBackground.webp");

    .grid_row {
        width: 22rem;
        display: grid;
        gap: 15px;

        div {
            color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }

    a {
        text-decoration: none;
        gap: 15px;
        display: grid;
    }

    .location {
        margin: 0;
        background-color: #fff;

        span {
            color: #c2121c;
        }

        p {
            color: #000;
        }
    }
}

.ScrollContainerRelative {
    display: flex;
    gap: 2.6%;
    justify-content: normal;
    overflow-x: scroll !important;
    position: relative;
    width: 100%;
}


.Static {
    font: normal normal normal 115%/123% Segoe UI;
    width: 98%;
    margin-top: 10px;
    position: relative;
    border: 2px solid #e7e6e6;

    .Static_row {
        text-align: center;
        align-items: center;

    }

    .welcome {
        color: #c2151b;
    }
}

.BreakingNewsSectionHomepage {
    a {

        background-image: linear-gradient(to right,
                #eb7e7e,
                #C2121C 50%);
        background-size: 200% 100%;
        background-position: -100%;
        display: inline-block;
        padding: 5px 0;
        position: relative;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.3s ease-in-out;
    }

    a:before {
        content: '';
        background: #C2121C;
        display: block;
        position: absolute;
        bottom: 7px;
        left: 0;
        width: 0;
        height: 3px;
        transition: all 0.2s ease-in-out;
    }

    a:hover {
        background-position: 0;
    }

    a:hover::before {
        height: 2px;
        width: 100%;
    }


    .latest_bottem {
        margin: 18px;
        position: relative;
        border: 1px solid #FAFAFA;

        h3 {
            margin: 0;
            font: normal normal 25px/37px Segoe UI;

            .hadding {
                color: #c2151b;
            }
        }
    }

    .Breaking {
        .col {

            width: 450px;
        }

    }
}

.BreakingnewsScroll {
    display: flex;
    gap: 2.6%;
    justify-content: normal;
    overflow: scroll !important;
    position: relative;
    width: 100%;


}

.LatestNewsSection {
    a {
        text-decoration: none;
        color: #c2121c;
    }

    a.hovereffect {
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-image: linear-gradient(90deg, #eb7e7e, #c2121c 50%);
        background-position: -100%;
        background-size: 200% 100%;
        display: inline-block;
        padding: 5px 0;
        position: relative;
        transition: all .3s ease-in-out;
    }

    .latest_bottem {
        margin: 18px;
        position: relative;
        border: 1px solid #FAFAFA;

        h3 {
            margin: 0;
            font: normal normal 25px/37px Segoe UI;

            .hadding {
                color: #c2151b;
            }
        }
    }

    .Breaking {
        .col {

            width: 450px;
        }


    }

    .imageCenter {
        display: flex;
        justify-content: center;
        // height: 50%;
        @media only screen and (max-width: 850px) {
            display: contents;
            img{
                height: 300px;
            }      
        }
      
    }

    .text {
        font-size: 16px;
    }
    .box{
        display: flex;
        height: 375px;
        @media only screen and (max-width: 850px) {
            // width: 100%;
            display: block;
            height: inherit;
        }
    }
 
}

.HightLight {
    a {
        text-decoration: none;
        color: #c2121c;
    }

    a.hovereffect {
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-image: linear-gradient(90deg, #eb7e7e, #c2121c 50%);
        background-position: -100%;
        background-size: 200% 100%;
        display: inline-block;
        padding: 5px 0;
        position: relative;
        transition: all .3s ease-in-out;
    }

    .latest_bottem {
        margin: 18px;
        position: relative;
        border: 1px solid #FAFAFA;
        background-color: #c2121c;

        h3 {
            color: #FAFAFA;
            margin: 0;
            font: normal normal 25px/37px Segoe UI;
        }
    }

    .BreakingnewsScrollInside {
        display: flex;
        gap: 32px;
    }

    .HightCol {
        display: flex;
        overflow: hidden;
        height: 325px;

        @media only screen and (max-width: 850px) {
            width: 100%;
            display: block;
            height: 500px;
        }
    }

}

.VideoSection {
    a {
        text-decoration: none;
        color: #c2121c;
    }

    a.hovereffect {
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-image: linear-gradient(90deg, #eb7e7e, #c2121c 50%);
        background-position: -100%;
        background-size: 200% 100%;
        display: inline-block;
        padding: 5px 0;
        position: relative;
        transition: all .3s ease-in-out;
    }

    .latest_bottem {
        margin: 18px;
        position: relative;
        border: 1px solid #FAFAFA;
        background-color: #c2121c;

        h3 {
            color: #FAFAFA;
            margin: 0;
            font: normal normal 25px/37px Segoe UI;
        }
    }

    .VideoSectionImage {
        overflow: hidden;
        // height: 250px;
        // width: 300px;

        @media only screen and (max-width: 850px) {
            width: 100%;
        }
    }

}

.Static {
    width: 97%;

    margin-top: 10px;
    position: relative;
    border: 2px solid #e7e6e6;
    font-size: inherit;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;

    //   .Static_row {
    //     margin: 5px;
    //   }
    .latest_n {

        font-size: 20px;
        font-weight: 700;
        color: #111010;
    }

    .todaymatchli li::marker {
        color: #111010;
        content: "# ";
    }

    .todaymatchli ul {
        list-style-type: none;

    }

}

.SecondStatic {
    font-family: segeo UI;

    .Static_row {
        margin: 5px;
    }

    .hedding {
        text-align: center;
        color: #C2151B;
        font-weight: 900;
        font: normal normal bold 28px/37px Segoe UI;
        ;
    }
}


.teams_color {
    color: white;
    text-align: center;
    background-color: #C2121C;
    font: Segoe UI;

    .teams_image_box {
        display: flex;
        gap: 78px;

        .teams_image_container {
            margin-top: 25px;
            background-color: white;
            border-radius: 26px;
            width: 300px;
            height: 230px;
            position: relative;
            justify-content: center;
            display: grid;

            div {
                margin-top: 25px;
                gap: 20px;
                display: grid;
            }

            p {
                color: #000;
            }
        }
    }


    .team_img {
        width: 10rem;
        height: 140px;
        position: relative;
        border-radius: 55px;
    }

}

.Testimonials {
    border: 2px solid #e7e6e6;
    margin-top: 10px;
    position: relative;
    width: 97%;

    .Static_row {
        margin: 5px;
        display: flex;
        justify-content: center;

        .TestHeading {
            display: flex;
            justify-content: center;
            color: #111010;
            font-weight: 700;
        }

        .content {
            margin: 5px;
        }
    }
}


.CustomerReview {
    margin-top: 15px;
    display: flex;
    gap: 50px;

    .Customer_box {
        width: 27vw;
        border: 1px solid #c2121c;
        padding: 10px;
        box-shadow: 5px 10px #c2121c;
        height: 366px;
        text-align: center;
        align-items: center;

        display: grid;

        @media only screen and (max-width: 1440px) {
            width: 40vw;
        }

        @media only screen and (max-width: 960px) {
            width: 500px;
        }

        @media only screen and (max-width: 620px) {
            width: 270px;
        }

        .insideBox img {
            border-radius: 50%;
        }
    }
}

.static_res {
    margin-top: 20px;
    display: grid;
    text-align: center;
    background-color: #fafafa;
    width: 97%;
    font: normal normal normal 115%/123% Segoe UI;

    .p {
        color: #111010;
        font-size: 20px;
        font-weight: 700;
    }

    .r {
        color: #c2121c;
        font-size: 20px;
        font-weight: 700;
    }

    .content {
        display: grid;
        justify-items: center;
    }
}

.Company_expri_detail {
    display: flex !important;
    justify-content: center;

    .box {
        background-color: #fafafa;
        border-radius: 50%;
        height: 135px;
        width: 150px;
        align-items: center;
        text-align: center;
        justify-items: center;
        justify-content: center;
        display: grid;
        color: #c2151b;
        font: normal normal 700 16px/16px Segoe UI;

    }
}


.footer_head {
    position: relative;
    margin-top: 20px;
    height: 500px;
    background: linear-gradient(40deg,
            #C2121C 50%, #ffffff 50%, #f5f5f5 100%);

    .footer_text {
        font-size: small;
        right: -33px;
        left: 20px;
        text-align: center;
        font-weight: 600;
        top: 250px;
        position: relative;
        color: white;
        width: fit-content;
    }

    .size {
       width: 412px;
    height: 494px;
    }

    #end {
        bottom: 8% !important;
        right: 10% !important;
    }

    @media (max-width: 1060px) {
        #end {
            bottom: 46% !important;
            right: 11% !important;
        }

        .size {
            width: 261px;
            height: 265px;

        }

    }

    @media (max-width: 734px) {

        #end {
            bottom: 46% !important;
            right: 0% !important;
        }

        .size {
            height: 262px;
        }
    }

    @media (max-width: 500px) {
        #end {
            bottom: 53% !important;
            right: 2% !important;
        }

        .size {
            height: 270px;
            width: 205px;
        }
    }

    .andriod_logo {
        right: 7px;
        width: 127px;
        position: relative;
        height: 65px;
    }

    .apple_logo {
        width: 151px;
        height: 95px;
    }

}

.footer_link {
    position: relative;
    width: auto;
    height: 250px;

    .link {
        top: 47px;
        color: #C2121C;
        text-align: center;
        position: relative;
    }

    .Follow {
        font-weight: 500;
        font-size: 32px;
    }

    .socal_link {
        position: relative;
        top: 47px;
        justify-content: center;
        display: flex;
        gap: 19px;
        align-items: center;
    }

    .policy_link li {
        font-size: 20px;
        color: #cc0707;
        // color: #AEAEAE;
        list-style-type: none;
    }

    .hovereffect {
        background-image: linear-gradient(to right,
                #eb7e7e,
                #C2121C 50%);
        background-size: 200% 100%;
        background-position: -100%;
        display: inline-block;
        padding: 5px 0;
        position: relative;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.3s ease-in-out;
    }

    .hovereffect:before {
        content: '';
        background: #C2121C;
        display: block;
        position: absolute;
        bottom: 7px;
        left: 0;
        width: 0;
        height: 3px;
        transition: all 0.2s ease-in-out;
    }

    .hovereffect:hover {
        background-position: 0;
    }

    .hovereffect:hover::before {
        height: 2px;
        width: 100%;
    }

    .linkin {
        font-size: 31px;
        position: relative;
        bottom: 3px;
    }

    .calling {
        color: #C2121C;
        font-size: 25px;
        position: relative;
        left: 5px;
        top: -4px;
    }

    .copy_right {
        position: relative;
        top: 46px;
        text-align: center;
        background-color: #C2121C;
        color: white;
    }

    .copy_right p {
        font-size: 24px;
    }

    .copy_right a {
        color: #f7f7f7;
    }

}

.matchpriviewtab {

    justify-content: center;
    align-items: center;

    .match_priview {
        color: #c2121c;
        font-size: 22px;
        padding: 0px;
        margin: 0px;
        margin-top: 8px;
    }
}

.font h3 span {
    background-color: #fffcfc;
    color: #c2121c;
    font-family: Segoe UI;
    justify-items: center;
}

.team {
    background: #FAFAFA !important;
    grid-row-gap: 10px;
    font-size: inherit;
    font-family: Segoe UI;

    a {
        text-decoration: none;
    }

    .section_title {
        font-size: 25px;
        text-align: center;
        margin-bottom: 50px;
        // text-transform: uppercase;
        color: #c2121c;
        font-family: Segoe UI;
        
    }

    .grid_row {
        color: white;
        grid-row-gap: 10px;
        display: grid;
        // justify-content: center;
        text-align: center;
    }

    .loadingButton {

        margin-top: 20px;
        display: flex;
        justify-content: center;
        margin-bottom: 13px;

    }

    .location_match {
        background-color: #fff;
        color: #000;
        position: relative;
        top: 13px;
    }

    .image {
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}


// Breaking News
.Breaking_new {
    color: #c2121c;
    align-items: center;
    margin-top: 32px;

    .hovereffect {


        background-image: linear-gradient(to right,
                #eb7e7e,
                #C2121C 50%);
        background-size: 200% 100%;
        background-position: -100%;
        display: inline-block;
        padding: 5px 0;
        position: relative;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.3s ease-in-out;
    }

    .hovereffect:before {
        content: '';
        background: #C2121C;
        display: block;
        position: absolute;
        bottom: 7px;
        left: 0;
        width: 0;
        height: 3px;
        transition: all 0.2s ease-in-out;
    }

    .hovereffect:hover {
        background-position: 0;
    }

    .hovereffect:hover::before {
        height: 2px;
        width: 100%;
    }

    .breaking_news_hed {
        h1 {
            font-size: 25px;
        }

        align-items: center;
        display: flex;
        justify-content: center;

    }

    .Breaking_news_gap {
        //     color: #c2121c;
        // display: flex;
        // justify-content: center;
        margin-top: 32px;
    }

    .card_text {
        font: normal normal normal 115% / 123% Segoe UI;
    }

    .News_image {
        height: 260px;
        width: 100%;
    }

    .News_image_title {
        height: 47px;
    }

    .viewCount {
        border: 1px solid #cbb9ba;
        display: flex;
        height: 40px;

        p {
            padding: 0;
            margin: 0;
        }

        .ViewCountDate {
            align-self: center;
            padding-right: 10px;
            text-align: end;
        }

        .viewCounteye {
            display: ruby;

            align-self: center;
            padding-left: 10px;
            text-align: start;
        }
    }


    .BreakingButton{
        display: block;
        text-align: center;
        margin-top: 15px;
    }
}

.ShareButton{
    background-color: white;
    border-radius: 20px;
    margin-left: -26px;
  }
  .ShareOption{
    position: relative;
    z-index: 1;
    width: fit-content;
    top: 5%;
    height: 0;
    left: 90%;
  }
 

  .aboutus{
    .hedding{
       display: block;
       text-align: center;
       color: #c2151b;
      font: normal normal 700 28px / 37px Segoe UI;
}
.text{
    font-family: Segoe UI;
    font-weight: 400;
}
  }


  .RSS{
    display: flex;
    list-style: none;
    justify-content: center;
    ol{
        gap: 10px;
    display: grid;
    li {
        a {
            color: #c2121c;
        }
    }
    }
p{
    margin-top: 0;
    margin-bottom: 0;
}
span{
    align-items: center;
    display: flex;
    gap: 10px;
}
  }


  .ViewCountDetailspage{
    display: flex;
    .ViewCountDate{
        display: flex;
        justify-content: end;
    }
    .ViewCount{
        display: ruby;
    }
  }

  .matchPrivewTitle{
    text-align: center;
    font-size: 25px;
    color: #c2121c;
  }


  .matchpage{
    .pridctionImageSection{
        img{
            width: 30%;
            // margin: 0 auto;
        }
    }
  }
